@{
    ViewBag.Title = "About";
}

<link href="~/Content/adduser.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form_main">
                    <h4 class="heading"><strong>ABOUT </strong> Blood donations management system <span></span></h4>
                    <div class="form">
                        <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                            <div class="col-md-12">
                                <h3>Blood for Life</h3>
                                <p>
                                    With Blood Donation Manager(Blood for Life) , donation centers can manage perishable blood
                                    products that are gathered and stored at blood banks, hospitals, and specialty clinics.
                                </p>
                                <p>
                                    Managing blood donations from the time of collection through their match with a recipient is a
                                    complex process. To ensure that different blood types are available at the acceptable levels,
                                    the donation centers must hold blood drives and maintain lists of donor information.
                                </p>
                                <p>
                                    My Blood Donation Manager provides a framework for tracking blood products, donor information, donation
                                    sites, and recipient data. You can monitor your blood inventory by expiration date and how much blood of 
                                    each type has been donated.
                                </p>
                                <p>
                                    This application:
                                    <ul>
                                        <li> Tracks blood donations from donor to recipient. </li>
                                        <li> Monitors inventory levels of blood products.</li>
                                        <li> Manages blood products by expiration date</li>
                                    </ul>
                                </p>
                                <p class="border ">
                                    Additional help
                                    <ul>
                                        <li> To learn more about using this application in your environment, contact Irina Pop.</li>
                                    </ul>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}