@{
    ViewBag.Title = "Contact";
}

<link href="~/Content/adduser.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form_main">
                    <h4 class="heading"><strong>Contact us </strong>  <span></span></h4>
                    <div class="form">
                        <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                            <div class="col-md-12">
                                <address>
                                    Mircea Zaciu 11<br />
                                    Cluj-Napoca, 400494<br />
                                    <abbr title="Phone">P:</abbr>
                                    (+40)75.651.1494
                                </address>

                                <address>
                                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                                </address>
                                <p>I am are here to answer any questions you may have about Blood For Life application experiences. Reach out to me and I'll respond as soon as I can.</p>
                                <p>In case of any technical problems please contact the support</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
