@model List<BDMS.Models.DonationSite>

@{
    ViewBag.Title = "DonationSitesArchive";
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canPage: true);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<link href="~/Content/archives.css" rel="stylesheet" />
<link href="~/Content/adduser.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form_main">
                    <h4 class="heading"><strong>Donation sites </strong> Archive <span></span></h4>
                    <div class="form">
                        <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                            <div class="col-md-12">
                                @grid.GetHtml(
                tableStyle: "gridtable",
                columns: grid.Columns(
                        grid.Column("DonationSiteID", "ID"),
                        grid.Column("SiteName", "Name"),
                        grid.Column("StartDate", "Start date"),
                        grid.Column("EndDate", "End date"),
                        grid.Column("RegistrationEmail", "Email"),
                        grid.Column("RegistrationPhone", "Phone"),
                        grid.Column("Address", "Address"),
                        grid.Column("City", "City"),
                        grid.Column("Zip", "Zip"),
                        grid.Column("StaffingRequired", "Staff"),
                        grid.Column("MobileSite", "Drive"),
                        grid.Column("IsSiteArchived", "Archived")
                    )
                )
                            </div>
                            <div class="col-md-6" style="padding-top:40px;">
                                <p style="font-size:18px;"> <i class="glyphicon glyphicon-download-alt"></i> Export Data : @Html.ActionLink("Export to PDF", "GETPdf", "Archives") </p>
                            </div>
                            <div class="col-md-6" style="padding-top:40px;">
                                <p style="font-size:18px;"> <i class="glyphicon glyphicon-download-alt"></i> Export Data : @Html.ActionLink("Export to Excel", "GETExcel", "Archives") </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

