@model List<BDMS.Models.Recipient>

@{
    ViewBag.Title = "RecipientsArchive";
    var grid = new WebGrid(rowsPerPage:ViewBag.PageSize, canPage: true);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<link href="~/Content/archives.css" rel="stylesheet" />
<link href="~/Content/adduser.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form_main">
                    <h4 class="heading"><strong>Recipients </strong> Archive <span></span></h4>
                    <div class="form">
                        <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                            <div class="col-md-12">
                                @grid.GetHtml(
                tableStyle: "gridtable",
                columns: grid.Columns(
                        grid.Column("RecipientID", "ID"),
                        grid.Column("DateOfUse", "Date of use"),
                        grid.Column("RelatedCondition", "Condition"),
                        grid.Column("RecipientCodedName", "Coded name"),
                        grid.Column("DonationID", "Donation"),
                        grid.Column("IsRecipientArchived", "Archived"),
                        grid.Column("DonorID", "Donor")
                    )
                )
                            </div>
                            <div class="col-md-6" style="padding-top:40px;">
                                <p style="font-size:18px;"> <i class="glyphicon glyphicon-download-alt"></i> Export Data : @Html.ActionLink("Export to PDF", "GETPdfRecipients", "Archives") </p>
                            </div>
                            <div class="col-md-6" style="padding-top:40px;">
                                <p style="font-size:18px;"> <i class="glyphicon glyphicon-download-alt"></i> Export Data : @Html.ActionLink("Export to Excel", "GETExcelRecipients", "Archives") </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
